@import "src/design-system/styles/variables";

.ionContent {
  --padding-top: 1rem;
  --padding-start: var(--page-side-padding);
  --padding-end: var(--page-side-padding);

  &::part(scroll) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.userNameInput {
  margin-bottom: 2rem;
}

.passwordInput {
  margin-bottom: 2.5rem;
}

.loginFormInput {
  width: 100%;

  .inputTitle {
    @include font-h1;
    @include font-bold;
    margin-bottom: 4px;
  }

  .input {
    width: 100%;
    background-color: var(--app-color-gray-1);
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;

    &:focus {
      background-color: var(--app-color-text-secondary);
    }
  }
}

.loginButton {
  --color: black;
  --background-color: white;
}
