@import "variables";
//
//html,
//body {
//  height: 100%;
//  width: 100%;
//  overflow: auto;
//}
//
//body {
//  overflow: hidden;
//}

ion-content {
  &::part(scroll) {
    overscroll-behavior: none;
  }
}

.ios body {
  --ion-background-color: #121212;
}

body {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

// Spaces
$spaces: (
        "auto": 'auto',
        "0": 0,
        "1": 0.25rem,
        "2": 0.5rem,
        "3": 0.75rem,
        "4": 1rem,
        "5": 1.25rem,
        "6": 1.5rem,
        "7": 1.75rem,
        "8": 2rem,
        "9": 2.25rem,
        "10": 2.5rem,
        "11": 2.75rem,
        "12": 3rem,
        "13": 3.25rem,
        "14": 3.5rem,
        "15": 3.75rem,
        "16": 4rem,
);

@mixin generatePadding() {
  @each $spaceName, $spaceSize in $spaces {
    .app-p-#{$spaceName} {
      padding: #{$spaceSize};
    }
    .app-pt-#{$spaceName} {
      padding-top: #{$spaceSize};
    }
    .app-pb-#{$spaceName} {
      padding-bottom: #{$spaceSize};
    }
    .app-pr-#{$spaceName} {
      padding-right: #{$spaceSize};
    }
    .app-pl-#{$spaceName} {
      padding-left: #{$spaceSize};
    }
    .app-py-#{$spaceName} {
      padding-top: #{$spaceSize};
      padding-bottom: #{$spaceSize};
    }
    .app-px-#{$spaceName} {
      padding-right: #{$spaceSize};
      padding-left: #{$spaceSize};
    }
  }
}

@mixin generateMargin() {
  @each $spaceName, $spaceSize in $spaces {
    .app-m-#{$spaceName} {
      margin: #{$spaceSize};
    }
    .app-mt-#{$spaceName} {
      margin-top: #{$spaceSize};
    }
    .app-mb-#{$spaceName} {
      margin-bottom: #{$spaceSize};
    }
    .app-mr-#{$spaceName} {
      margin-right: #{$spaceSize};
    }
    .app-ml-#{$spaceName} {
      margin-left: #{$spaceSize};
    }
    .app-my-#{$spaceName} {
      margin-top: #{$spaceSize};
      margin-bottom: #{$spaceSize};
    }
    .app-mx-#{$spaceName} {
      margin-right: #{$spaceSize};
      margin-left: #{$spaceSize};
    }
  }
}

.app-min-w-0 {
  min-width: 0;
}

@include generatePadding();
@include generateMargin();

.app-font-bold {
  @include font-bold;
}

.app-font-p2 {
  @include font-p2;
}

.app-font-p1 {
  @include font-p1;
}

.app-font-h2 {
  @include font-h2;
}

.app-font-h1 {
  @include font-h1;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  display: block;
  color: var(--color);
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

input {
  -webkit-appearance: none;
  border: none;
  background: transparent;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

ion-toolbar {
  --background: #121212;
  --border-style: none;

  .header-md::after
  ~ .no-height {
    height: 0;
  }
}

.header-md::after {
  height: 0px !important;
}

ion-toolbar {
  --min-height: 0;
}

ion-app > .ion-page {
  .ion-page > ion-content {
    --padding-bottom: calc(var(--ion-safe-area-bottom) + var(--page-bottom-padding));
  }
}

ion-modal.auto-height-modal {
  --height: auto;

  .ion-page {
    position: relative;
    contain: content;
    max-height: 90vh;
  }
}
