@import "src/design-system/styles/variables";

.player {
  position: absolute;
  z-index: 10000;
  bottom: calc(var(--ion-safe-area-bottom) + 50px);
  left: 0;
  right: 0;
  border-radius: 4px;
  background: var(--app-color-gray-1);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  opacity: 1;

  .playerContainer {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

    .thumbnail {
      max-width: 32px;
      max-height: 32px;
      min-width: 32px;
      min-height: 32px;
      margin-right: 1rem;
      border-radius: 4px;
    }

    .titlesContainer {
      margin-right: auto;

      .playerTitle {
        @include font-p2;
        @include font-bold;
        margin-bottom: 4px;
      }

      .playerArtist {
        @include font-p2;
        color: var(--app-color-text-secondary);
      }
    }

    .heartButton {
      margin-right: 1rem;
    }
  }

  .progress {
    --buffer-background: var(--app-color-text-secondary);
    --progress-background: white;
    height: 2px;
  }
}

.ionTabBar {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  --background: linear-gradient(#00000082, black);
  border: none;
}

.chin {
  position: absolute;
  background: black;
  height: var(--ion-safe-area-bottom);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
