@import "src/design-system/styles/variables";

.button {
  --size: 24px;
  height: var(--size);
  width: var(--size);

  &:active {
    transform: scale(0.95);
    transition: transform 100ms;
    color: var(--app-color-text-secondary);
  }
}
