@import "src/design-system/styles/variables";

.container {
  height: 80px;
  background: blueviolet;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

.container:active {
  transform: scale(0.97);
  transition: transform 100ms;
}

.text {
  @include font-p1;
  @include font-bold;
}
