@import "src/design-system/styles/variables";

.container {
  @include font-p1;
  background-color: var(--app-color-gray-2);
  padding: 16px;
  display: flex;
  align-items: center;
}


.header__backButton {
  height: 24px;
  width: 24px;
  margin-right: 1rem;
}

.header__backButton:active {
  transform: scale(0.95);
  transition: transform 100ms;
  color: var(--app-color-text-secondary);
}

.input {
  color: var(--app-color-text-secondary);
  caret-color: var(--app-color-green-1);
  margin-right: auto;
}

.clearButton {
  @include font-bold;
}

.clearButton:active {
  transform: scale(0.95);
  transition: transform 100ms;
}
