.playbuttonContainer {
  background-color: black;;
  height: 60px;
  width: 60px;
  z-index: 2;
  overflow: hidden;
  border-radius: 100%;

  .playbutton {
    color: var(--app-color-green-1);
    font-size: 75.25px;
    margin: -7.625px;
  }

  &:active {
    transform: scale(0.97);
    transition: transform 100ms;
    opacity: 0.7;
  }
}
