@import "src/design-system/styles/variables";

.container {
  background-color: var(--app-color-gray-2);
  border-radius: 16px;
  height: 28px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  @include font-p2;
}

.container:active {
  background-color: var(--app-color-gray-3);
}

.container.activated {
  background-color: var(--app-color-green-1);
  color: var(--app-color-text-2);
}

.container.activated:active {
  opacity: 0.8;
}
