@import "src/design-system/styles/variables";

.player {
  border-radius: 4px;
  background: var(--app-color-gray-1);
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  .playerContainer {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

    .thumbnail {
      max-width: 32px;
      max-height: 32px;
      min-width: 32px;
      min-height: 32px;
      margin-right: 1rem;
      border-radius: 4px;
    }

    .titlesContainer {
      margin-right: auto;

      .playerTitle {
        @include font-p2;
        @include font-bold;
        margin-bottom: 4px;
      }

      .playerArtist {
        @include font-p2;
        color: var(--app-color-text-secondary);
      }
    }

    .heartButton {
      margin-right: 1rem;
    }
  }

  .progress {
    --buffer-background: var(--app-color-text-secondary);
    --progress-background: white;
    height: 2px;
  }
}
