@import "../../design-system/styles/variables";

.header {
  padding-top: var(--ion-safe-area-top);
  position: sticky;
  top: 0;
  background-color: var(--app-color-gray-2);
  z-index: 1;
}

.tags {
  display: flex;
  overflow-x: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  background: var(--background);
  white-space: nowrap;
}

.tags > *:first-child {
  margin-left: var(--page-side-padding);
}

.tags > *:last-child {
  margin-right: var(--page-side-padding);
}

.tags > *:not(:last-child) {
  margin-right: 8px;
}

.results {
  margin-left: var(--page-side-padding);
  margin-right: var(--page-side-padding);
}

.results > * {
  margin-bottom: 16px;
}
